
/* ----------------------------- */

#forward-button, #forward-forward-button {
  padding: 10px 20px;
  background-color: white;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 1;
}

#forward-button:hover, #forward-forward-button:hover {
  background-color: #f8f9fa;
}

#forward-button::after, #forward-forward-button::after {
  content: ' →';
}

/* ----------------------------- */

.page-content {
  padding-left: 10%;
  padding-right: 10%;
}

.page-content p {
  margin: 20px 0;
}

.rectangle-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  border: 1px solid black;
  width: auto; /* Adjust width based on content */
  max-width: 40%; /* Maximum width to limit container size */
  box-shadow: 0px 0px 10px #aaa;
  margin  : 40px auto; /* Center the rectangle container on the page */
  position: relative; /* Needed for absolute positioning of the title */
  padding : 30px; /* Reduced padding for a more compact layout */
}

.title {
  position: absolute;  /* Absolute positioning within the rectangle-container */
  top: 0;  /* Align to the top edge */
  left: 0;  /* Align to the left edge */
  align-self: flex-start; /* Align the title to the start of the flex container */
  font-size: 16px; /* Smaller font size */
  margin: 10px;
  z-index: 1;  /* Ensure it's above the other content */
}


.image-boxes {
  margin-top: 30px;
  display: flex;
  justify-content: center;  /* Center the image boxes horizontally */
  width: 100%;  /* Take full width to center content inside the parent */
  padding: 20px 0; /* Space above and below the image boxes */
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  border: 2px solid ;
  width: 200px; /* Fixed width */
  height: auto; /* Height adjusts to content */
  aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
}

.image-box img {
  height: 100%; /* Make image height responsive to container size */
  width: 100%; /* Make image width responsive to container size */
  object-fit: contain; /* Ensure the image covers the area without losing aspect ratio */
}

.image-label {
  text-align: center;
  margin-top: 5px;
}

/* ----------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
  margin: 20px;
}

.box-1, .box-2 {
  text-align: center;
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 160px;
}

/* Styles for rectangle-1 */
.rectangle-1 {
  border: 1px solid;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: auto;
}

/* Styles for rectangle-2 */
.rectangle-2 {
  text-align: center;
  padding: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropdown-drug{
  margin: 0 auto; /* Center the dropdown horizontally */
  padding: 0;
  cursor: pointer;
}

.disclaimer {
  color: #9e9e9e;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.gateway-drug-variant{
  margin: 10px
}

.image-label-gateway {
  color: grey;
  border: 1px solid grey;
  padding: 5px;
  display: inline-block;
  text-align: center; 
  margin-top: 5px;
  color: grey;
  border: 1px solid grey;
  padding: 5px;
  display: inline-block;
}

.viz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom right, #000, #004ba0, #01579b, #0277bd, #0288d1, #039be5, #29b6f6,  #81d4fa, #fff);
  color: white;
  padding-bottom: 2.5%;
  margin-top: -2%;
  border-bottom: 2px solid #004ba0;
}

#header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-left: 20%;
  margin-right: 20%;
}

#profile{
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Oswald', sans-serif;
  font-weight: 'bold';
  text-decoration: underline;
  text-align: center;
  padding: 2%;
  background: rgba(129, 212, 250, 0.1);
  color: black;
  border-radius: 5px;
  margin-right: 10%;
  margin-left: 10%;
  border: 5px groove #004ba0;
}

#personality_per_drug_graph, #drug_consumption_graph, #chord-diagram-container {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: -1%;
}

.chart-container {
  margin-bottom: 5%;
}

.legend-wrapper {
  border: 3px solid black;
  padding: 1.5%;
  background-color: rgba(0, 0, 0, 0.02);
  margin-right: 30%;
  margin-left: 30%;
  text-align: center;
}

.legend-wrapper h4 {
  font-size: 20px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.35em;
  text-align: center;
  margin-top: 2%;
  text-decoration: underline;
}

#legend-drug-consumption {
  margin-top: 3%;
}
