/* GENERAL STYLES */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    margin-top: 10px;
    padding: 20px 10px;
    height: 100px;
    background-color: #bbbbbb;
}

.legend {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PAGE : DRUGS */

#warning {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warning p {
    font-style: italic;
}

#typical-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-container {
    display: flex;
    flex-direction: row;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 120px;
}

.icon-container img {
    height: 80px;
}

div p {
    font-family: 'Arial', sans-serif;
    font-size: 1.35em;
    margin-right: 10%;
    margin-left: 10%;
    line-height: 1.75em;
    text-indent: 5rem;
    text-align: justify;
}

#main-table-of-contents {
    font-family: 'Goswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin-left: 43.5%;
    font-size: 1.25rem;
    line-height: 1.5em;
}
